<% provide :title, t(".fake_book") %>
<% unless user_signed_in? %>
  <div class="content">
    <div class="center">
      <h1><%= t ".welcome" %></h1>
      <h2><%= t ".this_is_the_home_page" %></h2>

      <%= link_to t(".signup_now"), new_user_registration_path,
        class: "btn btn-lg btn-primary" %>
    </div>
  </div>

  <video id="my-video" class="video" muted loop>
     <source src="assets/demo.mp4" type="video/mp4">
  </video>
<% else %>
  <div class="row">
    <div class="col-md-3">
      <aside>
        <section class="user_info">
          <%=  render "shared/user_info" %>
        </section>
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
      </aside>
    </div>
    <div class="col-md-6">
      <div class="row" >
        <aside class="post_form">
          <h3><%= t ".Write_new_post_here" %></h3>
          <%= render "shared/post_form" %>
        </aside >
      </div>
      <div class="row">
        <h3><%= t ".post_feed" %></h3>
        <ol class="allpost">
          <%= render "shared/feed" %>
        <ol>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
