<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "container">
    <%= link_to t(".fake_book"), root_path, class: "logo" %>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to raw(t(".setting")+"<b class='caret'></b>".html_safe), "#", data: {toggle: "dropdown"} %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".my_profile"), edit_user_registration_path(current_user) %></li>
              <li><%= link_to t(".my_post"), current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), destroy_user_session_path %>
              </li>
            </ul>
          </li>
          <li><%= link_to t(".logout"), destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to t(".login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
